<section class="proyectos">
    <div class="card mat-card last-card">
      
        <h4 class="fuente">Proyectos</h4>
        <ul class="botones">
          <li><a class="" href="" > <img src="../../../assets/plus-sign.png" alt="" name="editar" > </a></li>
        </ul>
      
      
      <div class="row">
        <div class="col-lg-1"></div>
          <div class="col-lg-4">
            <img class="log" src="../../../assets/portfolio1.png" alt="" />
          </div>
        <div class="col-lg-4">
          <h5 class="fuente">Plan Argentina Programa - Full Stack Developer Jr.</h5>
          <p>
             Creacion de Proyecto Integrador Portfolio Web Full Stack<br />
             Desarrollo de portfolio web de arquitectura distribuida. <br>
            (2.023) <br />
          </p>
        </div>
        <div class="col-lg-2">
          <ul class="botones">
            <li><a class="" href=""> <img src="../../../assets/pencil-tool.png" alt=""> </a></li>
            <li><a class="" href=""> <img src="../../../assets/trash-bin.png" alt=""> </a></li>
          </ul>
        </div>
      </div><br>
      <div class="row">
        <div class="col-lg-1"></div>
          <div class="col-lg-4">
            <img class="log" src="../../../assets/virtualmachine.png" alt="" />
          </div>
        <div class="col-lg-4">
          <h5 class="fuente">C.F.P. N°36 - Especialización en Administración de Bases de Datos</h5>
          <p>
            Instalacion y Configuracion de un Entorno Virtual para el Balanceo de Carga en Bases de Datos.<br />
            
            (2.022) <br />
          </p>
        </div>
        <div class="col-lg-2">
          <ul class="botones">
            <li><a class="" href=""> <img src="../../../assets/pencil-tool.png" alt=""> </a></li>
            <li><a class="" href=""> <img src="../../../assets/trash-bin.png" alt=""> </a></li>
          </ul>
        </div>
      </div><br>
      <div class="row">
        <div class="col-lg-1"></div>
          <div class="col-lg-4">
            <img class="log" src="../../../assets/agenciaTurismoJava-Jsp.png" alt="" />
          </div>
        <div class="col-lg-4">
          <h5 class="fuente">Silicon Misiones - Programador Full Stack Java</h5>
          <p>
            Sistema para el manejo de una Agencia de Turismo<br />
            Acciones a realizar: Login usuario, registro de clientes, reserva de habitaciones, baja de clientes. <br>
            (2.021) <br />
          </p>
        </div>
        <div class="col-lg-2">
          <ul class="botones">
            <li><a class="" href=""> <img src="../../../assets/pencil-tool.png" alt=""> </a></li>
            <li><a class="" href=""> <img src="../../../assets/trash-bin.png" alt=""> </a></li>
          </ul>
        </div>
      </div><br>
      <div class="row">
        <div class="col-lg-1"></div>
          <div class="col-lg-4">
            <img class="log" src="../../../assets/LibropolisJavaJdbc.png" alt="" />
          </div>
        <div class="col-lg-4">
          <h5 class="fuente">Codo a Codo - Programador Full Stack Java</h5>
          <p>
            Sistema para el manejo de una Libreria.<br />
            Acciones a realizar: Login de usuario, agregar libros a DB, editar datos del libro, listar y  eliminar libros de la DB. <br>
            (2.021) <br />
          </p>
        </div>
        <div class="col-lg-2">
          <ul class="botones">
            <li><a class="" href=""> <img src="../../../assets/pencil-tool.png" alt=""> </a></li>
            <li><a class="" href=""> <img src="../../../assets/trash-bin.png" alt=""> </a></li>
          </ul>
        </div>
      </div><br>
      <div class="row">
        <div class="col-lg-1"></div>
          <div class="col-lg-4">
            <img class="log" src="../../../assets/CajeroAutomaticoJava.png" alt="" />
          </div>
        <div class="col-lg-4">
          <h5 class="fuente">C.F.P. N°17 - Trayecto Programador</h5>
          <p>
            Simulador de Cajero Automático<br />
            Creado en Java Swing. 
            Acciones a realizar: Usuario y clave, deposito, retiro, estado de cuenta, salida del cajero. <br>
            (2.020) <br />
          </p>
        </div>
        <div class="col-lg-2">
          <ul class="botones">
            <li><a class="" href=""> <img src="../../../assets/pencil-tool.png" alt=""> </a></li>
            <li><a class="" href=""> <img src="../../../assets/trash-bin.png" alt=""> </a></li>
          </ul>
        </div>
      </div><br>
      <div class="row">
        <div class="col-lg-1"></div>
          <div class="col-lg-4">
            <img class="log" src="../../../assets/sistemaAdministrativo.png" alt="" />
          </div>
        <div class="col-lg-4">
          <h5 class="fuente">C.F.P. N°17 - Trayecto Programador</h5>
          <p>
            Sistema Administrativo para una editorial<br />
            Creada en Java Swing. 
            Acciones a realizar: Login de usuarios, Escribir un nuevo artículo, editarlo, enviarlo y eliminarlo. <br>
            (2.020) <br />
          </p>
        </div>
        <div class="col-lg-2">
          <ul class="botones">
            <li><a class="" href=""> <img src="../../../assets/pencil-tool.png" alt=""> </a></li>
            <li><a class="" href=""> <img src="../../../assets/trash-bin.png" alt=""> </a></li>
          </ul>
        </div>
      </div><br>
      <div class="row">
        <div class="col-lg-1"></div>
          <div class="col-lg-4">
            <img class="log" src="../../../assets/agendaElectronica.png" alt="" />
          </div>
        <div class="col-lg-4">
          <h5 class="fuente">C.F.P. N°17 - Trayecto Programador</h5>
          <p>
            Agenda Electrónica creada en Java Swing <br />
            Acciones a realizar: Ingresar un nuevo contacto,
            editarlo, listar todos los contactos y elimar un contacto de la lista. <br>
            (2.020) <br />
          </p>
        </div>
        <div class="col-lg-2">
          <ul class="botones">
            <li><a class="" href=""> <img src="../../../assets/pencil-tool.png" alt=""> </a></li>
            <li><a class="" href=""> <img src="../../../assets/trash-bin.png" alt=""> </a></li>
          </ul>
        </div>
      </div><br>
    </div>
</section>
    
    

