.fuente {
    font-family: 'Kaushan Script', cursive;
}
.mat-card{
    margin: 5px;
    border-radius: 32px 32px;
}

.botones {
    display: flex;
    margin-left: 90%;
    list-style: none;
}
.log {
    width: 400px;
    box-shadow: 10px 10px 30px rgb(213, 213, 218);
    box-shadow: ejeX ejeY difumasion color;
}
h4 {
    margin-left: 50px;
    margin-top: 10px;
}
