.mat-card{
    margin: 5px;
    border-radius: 32px 32px;
    margin-right: 30px;
    margin-left: 30px;
}

.botones {
    display: flex;
    margin-left: 90%;
    list-style: none;
    
}
.logos{
    width: 180px;
    margin-left: 30px;
}
h4 {
    margin-left: 50px;
    margin-top: 10px;
}
.fuente {
    font-family: 'Kaushan Script', cursive;
}
.table{
    border-style: none;
    border: white;
}
.bt{
    background-color: rgb(240, 210, 240);
}
.row{
    margin-left: 50px;
}