<div>
    <div class="card mat-card" id="second-card">
        <div class="row">
            <div class="col-lg-4">
                <img class="img-fluid"src="{{persona?.img}}"  alt="Perfil"  id="profile-image" />
                <button class="btn" type="button" *ngIf="isLogged">
                    <a class="a bu" href="" routerLink="/editacercade/1">
                      <img src="../../../assets/pencil-tool.png" alt="" name="" />
                    </a>
                  </button>
                <h1 class="nombre fuente" >{{persona.nombre}} {{persona.apellido}}</h1>
                <p class="fullstack1 fuente">Full Stack Developer Jr.</p>
                <p class="fullstack fuente">Ciudad Autónoma de Buenos Aires (Argentina) </p>
            </div>
            <div class="col-lg-8">
                <h4 class="fuente acerca">Acerca de mí...</h4>
                <p class="desc">{{persona.descripcion}}</p>
              
            </div>

        </div>
    </div>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" 
    crossorigin><link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'); </style>
</div>
            

            

