.fuente {
    font-family: 'Kaushan Script', cursive;
}
.mat-card{
    margin: 5px;
    border-radius: 32px 32px;
}
h4 {
    margin-left: 50px;
    margin-top: 10px;
}
.row{
    padding: 30px;
    text-align: center;
}