<section class="">
  <div class="card mat-card">
    <h4 class="fuente">Hard & Soft Skills</h4>
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="65"
        [title]="'Html'"
        [titleFontSize]="'1em'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#aa00ff'"
        [innerStrokeColor]="'#aa00ff'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="65"
        [title]="'Css'"
        [titleFontSize]="'1em'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#aa00ff'"
        [innerStrokeColor]="'#aa00ff'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="65"
        [title]="'Java'"
        [titleFontSize]="'1em'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#aa00ff'"
        [innerStrokeColor]="'#aa00ff'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="65"
        [title]="'MySQL'"
        [titleFontSize]="'1em'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#aa00ff'"
        [innerStrokeColor]="'#aa00ff'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="65"
        [title]="'Angular'"
        [titleFontSize]="'1em'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#aa00ff'"
        [innerStrokeColor]="'#aa00ff'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="65"
        [title]="'SpringBoot'"
        [titleFontSize]="'1em'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#aa00ff'"
        [innerStrokeColor]="'#aa00ff'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="65"
        [title]="'Puntualidad'"
        [titleFontSize]="'1em'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#aa00ff'"
        [innerStrokeColor]="'#aa00ff'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="65"
        [title]="'Responsalidad'"
        [titleFontSize]="'1em'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#aa00ff'"
        [innerStrokeColor]="'#aa00ff'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="65"
        [title]="'Comunicación'"
        [titleFontSize]="'1em'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#aa00ff'"
        [innerStrokeColor]="'#aa00ff'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
      </div>
    </div>
  </div>
</section>
