<div class="form-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="form-container">
                    <h3 class="title">Educación</h3>
                    <form  class="form-horizontal" (ngSubmit)="onCreate()" novalidate #f="ngForm">
                        <div class="form-group">
                            <label for="nombreE">Nombre de la institución</label>
                            <input type="text" class="form-control" id="nombreE" [(ngModel)]="nombreE" name="nombreE" required>
                        </div>
                        <div class="form-group">
                            <label for="descripcionE">Titulo Obtenido</label>
                            <input type="text" class="form-control" id="descripcionE" [(ngModel)]="descripcionE" name="descripcionE" required >
                        </div>
                                               
                        <button class="btn signup">Agregar Educación</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
