<div>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand">
          <img src="../../../assets/arg-programa.png" alt="argprograma" width="170" height="50"/>
        </a>
          <span class="fuentes fuente">#YoProgramo</span>
          
        <div class="navbar-collapse" >
          
          
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <a href="http://github.com/FrancysNavas" target="_blank">
              <img
              src="../../../assets/github.png"
              height="40"
              width="40"
              alt="github"
              title="github.com/FrancysNavas"
            />
            </a>
            <a href="https://www.linkedin.com/in/francys-e-navas-80a60b172/" target="_blank" >
              <img
              src="../../../assets/linked-in.png"
              height="40"
              width="40"
              alt="linked-in"
              title="linked-in/FrancysNavas"
            />
            </a>
            <a class="" href="https://www.instagram.com/lafrancys.navas" target="_blank">
              <img
              src="../../../assets/instagram.png"
              height="40"
              width="40"
              alt="instagram"
              title="instagram/FrancysNavas"
            />
            </a>
            <a href="https://www.gmail.com" target="_blank">
              <img
              src="../../../assets/envelope.png"
              height="50"
              width="50"
              alt="francys.navas.sanchez@gmail.com"
              title="francys.navas.sanchez@gmail.com"
            />
            </a>
          </ul>
          
          <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged" >Login</button>
          <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>

        </div>
      </div>
    </nav>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" 
    crossorigin><link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'); </style>
<div>
